In [5]:
#python treat division as float number

In [7]:
12//5 #integer without decimal

2

In [9]:
name = "updesh"
full_name = name + " Bhadoriya"
print(full_name)

updesh Bhadoriya

In [10]:
str = f'hello,{name}'# formatted string

In [11]:
print(str)

hello,updesh

In [13]:
# getting input
name = input('Enter your name')

Enter your nameshubham

In [16]:
print(f'hello, {name}')

hello, shubham

In [18]:
age = input('enter your age:  ')#string
print(f'your age is {12 *age } ')

enter your age:  23
your age is 232323232323232323232323

In [19]:
age = int(age)

In [21]:
print(f'your age is {12 *age }{name} ')

your age is 276shubham

In [24]:
age = 2
age2 = 3
print(int(age==2 and age2 == 3))# similarly or

1

In [51]:
#data_structures
mylist = ['hello',3,4,'rt']#ordered

In [52]:
print(mylist)

['hello', 3, 4, 'rt']

In [37]:
mytup = tuple(mylist)

In [38]:
type(mytup)

tuple

In [35]:
myset = set(mylist)#unordered

In [36]:
type(myset)

set

In [42]:
tup1 = 'hello',
tup2 = ('hello',)
tup3 = ('hello')
type(tup1)
type(tup2)
#type(tup3)

tuple

In [54]:
#print(myset[0])# set does not support indexing
print(mylist)

['hello', 3, 4, 'rt', 'yo']

In [55]:
mylist.append('yo')

In [59]:
mytuple = mytup + ('hey',)#only new tuple can be created not in the existing one

In [61]:
myset.add('hello')# this will not be added as duplicate cannot exist in set

In [62]:
#advanced set operations
set1 = {1,2,3,4,5}
set2 = {1,3,5,7,9,11}

In [68]:
print(set1.intersection(set2))#common in both set
print(set1 & set2 )
print(set1.union(set2))#combination without duplicate
print(set1 | set2)
print(set1.difference(set2))
print(set1 - set2)

{1, 3, 5}
{1, 3, 5}
{1, 2, 3, 4, 5, 7, 9, 11}
{1, 2, 3, 4, 5, 7, 9, 11}
{2, 4}
{2, 4}

In [69]:
# dictionaries
mydict = {'my': 4, 'name':6 , 'is' : 8}#key cannot be duplicate, ordered

In [70]:
mydict1 = { 
    'my': {'hello':98,'mr':43},
'hey':[2,3,4,4,5,5 ]
}

In [71]:
print(mydict1['hey'])

[2, 3, 4, 4, 5, 5]

In [72]:
player = list(mydict1)

In [73]:
print(player)

['my', 'hey']

In [74]:
mydict2 = [{ 
    'my': {'hello':98,'mr':43},
'hey':[2,3,4,4,5,5 ]
}]

In [76]:
print(mydict2)

[{'my': {'hello': 98, 'mr': 43}, 'hey': [2, 3, 4, 4, 5, 5]}]

In [80]:
print(mydict2[0]['my']['hello'])

98

In [83]:
print(len(mytup))

4

In [5]:
progr = True
if progr is True:
    print("hello is {}".format(progr))
else:
    print("yarrr")

hello is True

In [6]:
if progr:
    print("yae")

yae

In [7]:
print(bool(0))
print(bool(0.0))
print(bool(''))
print(bool(None))
print(bool([]))

False
False
False
False
False

In [9]:
primes = [2,3,5,7,11]
for prime in primes:
    print(prime, end = ', ')

2, 3, 5, 7, 11,

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
fri = {
    "updes": 1,
    "shub":2
}
for name in fri:
    print(name)
    print(fri[name])

updes
1
shub
2

In [12]:
for key,value in fri.items():
    print(key,value)

updes 1
shub 2

In [13]:
print(fri.items())# creates a list of tuples

dict_items([('updes', 1), ('shub', 2)])

In [14]:
for i in [('updes', 1), ('shub', 2)]:
    print(i)

('updes', 1)
('shub', 2)

In [15]:
for i in [('updes', 1), ('shub', 2)]:
    k,v = i
    print(k,v)

updes 1
shub 2

# List comprehension

In [16]:
lis = list(range(10))
double = [n*2 for n in lis]
print(double)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
phrases = [ f'I am {age} years old' for age in double]

In [18]:
print(phrases)

['I am 0 years old', 'I am 2 years old', 'I am 4 years old', 'I am 6 years old', 'I am 8 years old', 'I am 10 years old', 'I am 12 years old', 'I am 14 years old', 'I am 16 years old', 'I am 18 years old']

In [20]:
name = ['updesh','SHubham','anchal']
Name = [na.lower() for na in name ]
print(Name)

['updesh', 'shubham', 'anchal']

In [21]:
evens = [n for n in range(20) if n%2 ==0]

In [22]:
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
friends = ['Anchal']